*{
	padding: 0;
	margin: 0;
}
body {
  font-family: "PT Sans", sans-serif;
}

img{
	max-width: 100%;
}

.container{
	overflow: hidden;
  width: 960px;
  margin: 0 auto;
  padding: 10px 0;
}


p {
  font-weight: 400;
  font-size: 14px;
  color: #000000

}
h2 {
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 35px;


}
h3 {
  font-weight: 700;
  font-size: 20px;
  color: #202e3b;
}
.main-header span {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

}

.main-header p {
    color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

/* page-header */
.page-header{
	background-color: #ffcd34;
  padding: 15px 0;
  position: relative;


}

.logo-brand {
  font-weight: 400;
  font-size: 24px;
  color: #000000;

}



.logo{
	float: left;
  width: 30%;
  text-decoration: none;
}

.main-nav{
	float: right;
  width: 70%;
  text-align: right;
}

.main-nav li{
	display: inline-block;

}

.main-nav a {
  text-decoration: none;
  color: #000000;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  padding: 15px;
  border: 2px solid transparent;

}

.main-nav a:hover{
  border: 2px solid rgba(32, 46, 59, 0.3);

}

.main-nav a:active{
  border: 2px solid rgba(32, 46, 59, 0.6);
}



.btn-order {
  background-color: #ffe184;
  padding: 15px 25px;
}

.btn-order:hover {
  border: none;
  background-color: #ffecb2;

}

.btn-order:active {
  border: none;
  background-color: #f6bf16;

}

.gradient:before {
content: "";
display: block;
position: absolute;
bottom: 0;
left: 0;
height: 14px;
width: 100%;
background-image: linear-gradient(135deg, #ffcd34 35%, #000 35%, #000 65%, #ffcd34 65%);
background-size: 25px 14px;
}

/* promo */

.promo {
  background-image: url(../img/index-ekskavator.jpg);
  background-size: 100% auto;
  background-position: 50% 50%;
  text-align: center;
  padding-top: 140px;
  padding-bottom: 120px;
  position: relative;

}

.promo-slogan {
  font-weight: 700;
  font-size: 44px;
  color: #ffffff;


}
.promo-title {
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  margin: 10px 120px;

}
.promo-btn {
  border: 2px solid #ffcd34;
  padding: 10px;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  background-image: url(../img/arrow-right.png);
  background-position: 90% 50% ;
  background-repeat: no-repeat;
  text-align: left;
  padding-left: 20px;
  padding-right: 50px;


}

/* consult */
.consult {
   background-color: #202e3b;
   padding: 40px;

}

.consult-title {
  font-weight: 400;
  font-size: 24px;
  color: #ffcd34;
  margin-bottom: 30px;
}
.consult form {
  display: inline-block;
  margin: 0 auto;
}

.consult input {
  background-color: #202e3b;
  width: 220px;
  height: 45px;
  border: 1px solid #ffcd34;
  margin-left: 20px;
  font-size: 14px;
  color: #fff;
  padding-left: 20px;
  box-sizing: border-box;
}

.consult input:first-child {
  margin-left: 0;
}

.consult input:last-child {
  background-image: url(../img/arrow-down.png);
  background-position: 90% 50% ;
  background-repeat: no-repeat;
  text-align: left;
}

.consult-btn {
  background-color: #ffcd34;
  font-weight: 700;
  font-size: 16px;
  color: #202e3b;
  text-decoration: none;
  width: 220px;
  height: 45px;
  float: right;
  text-align: center;
  margin-right: 0;
  margin-left: 20px;
}

.consult-btn:hover {
  background-color: #ffd966;
}

.consult-btn:active {
  background-color: #f6bf16;
}


/* subheader */
.subheader{
	background-color: black;
 	padding: 15px 0;
  overflow: hidden;

}

.subheader-left{
	float: left;
  width: 60%;
  margin-right: 5%;
}

.subheader-right{
	float: left;
  width: 35%;
}


.btn-fullwidth {
	width: 100%;
  text-decoration: none;
  color: #ffffff;

}

/* features */

.features {
  background-color: #ffffff;
  padding-top: 50px;
  padding-bottom: 50px;
  vertical-align: middle;
}
.features-item p{
  color: #000;
  font-size: 13px;
}

.features-item {
  display: inline-block;
  width: 24.5%;
  background-image: url(../img/features.png);
  background-size: 100px 100px;
  background-repeat: no-repeat;


}

.features-item-tool {
  background-position: -25px  -25px;
}

.features-item-work {
  background-position: 0px -50px;
}

.features-item-fencing {
  background-position: -50px 0px;
}

.features-item-workman {
  background-position: -50px -50px;
}

.features-item:first-child {
  margin-left: 0;

}

.features-item:last-child {
  margin-right: 0;
}
.features-item p{
  padding-left: 60px;
}

.features-item-tool {
  background-position: 0 0;
}




/* deals */
.deals {

  padding-top: 20px;
  background-color: #f3f3f3;
  position: relative;

}

.technic-menu {
  float: left;
  width: 24.75%;

}

.technic-menu a{
  color: #000;
  line-height: 38px;
  font-size: 16px;

}

.active-technic-menu-link {
  text-decoration: none;
  font-weight: 700;
  background-image: url(../img/arrow-right-mini.png);
  background-repeat: no-repeat;
  background-position: 0 40%;
  padding-left: 20px;

}


.special-offers {
  float: right;
  width: 74.25%;
}

.deals-table {
 width: 100%;

}
.table-title {
  font-weight: 700;
  font-size: 16px;
  background-color: #dfdfdf;
}

.deals-table tr: {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ffffff;
}

.deals-table tr: (2n-1) {
  background-color: #ffffff;
}

/* about */
.about {
  background-color: #202e3b;
  display: block;
  vertical-align: top;
  overflow: hidden;
  padding-top: 50px;
  position: relative;

}

.about h2 {
  color: #ffffff;
}

.about-number {
  float: left;
  width: 33%;

}

.about-number li {
  font-weight: 700;
  color: #9e9e9e;
  font-size: 18px;

}

.about-digit {
  font-weight: 700;
  font-size: 38px;
  color: #f1b132;
  margin-right: 10px;
}


.about-reviews {
  float: right;
  width: 66%;
}

.about-reviews-item img {
   float: left;
   border: 3px solid #f1b132;
   border-radius: 5px;
   clear: both;
   margin-bottom: 40px;

}

blockquote {
  float: left;
  width: 480px;
  font-style: italic;
  color: #ffffff;
  font-size: 18px;
  margin-left: 20px;
}

cite {
  font-style: normal;
  color: #f1b132;

}


/* catalog */
.catalog{
	padding: 15px 0;
  	background-color: #f3f3f3;
    overflow: hidden;


}
.consult-title {

}

.catalog-header-left {
  width: 74.25%;
  float: left;
  display: inline-block;
}

.catalog-header-right {
  width: 24.75%;
  float: right;
}

.catalog-title {
  padding-left: 50px;
  background-image: url(../img/logo-catalog.png);
  background-repeat: no-repeat;
  background-size: 30px;
}

.technic-menu {
	float: left;
  width: 25.33%;
  margin-right: 8%;

}
.pdf-btn {
  background-color: #354b60;
  padding: 5px;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  background-image: url(../img/pdf.png);
  background-position: 10% 50% ;
  background-repeat: no-repeat;
  text-align: left;
  padding-left: 50px;
  padding-right: 20px;
  margin-top: 20px;
}

.pdf-btn:hover {
  background-color: #46617a;
}

.pdf-btn:active {
  background-color: #567999;
}


.catalog-content{
	float: right;
  	width: 66.66%;
}

.catalog-content-wrap{
	overflow: hidden;

}

.catalog-item{
	width: 48%;
	margin-bottom: 4%;
  	float: left;
  	background-color: white;
  	padding: 30px;
  	box-sizing: border-box;
}

.catalog-item-new {
  overflow: hidden;
  position: relative;
}

 .new-mark {
  position: absolute;
  transform: rotate(45deg);
  right: -30px;
  top: 5px;
  display: block;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  background-color: #00c22e;
  color: #fff;
  width: 100px;
  padding: 5px;
}

.catalog-item:nth-child(2n+1){
	margin-right: 4%;
  	clear: both;
}

.catalog-actions{
	font-size: 0;
}

.catalog-btn{
	font-size: 14px;
  	width: 50%;
    text-decoration: none;
  	padding: 5px;
  	display: inline-block;
  	box-sizing: border-box;
    text-align: center;
    color: #ffffff;
}

.catalog-item p {
  font-weight: 700;
  font-size: 18px;
}

.catalog-item img{
   margin-top: 30px;
   margin-bottom: 30px;
}

.catalog-price {
   font-size: 22px;

}

.catalog-price-old {
   font-size: 22px;
   color: #d12222;
   margin-right: 10px;
   text-decoration: line-through;

}

.catalog-btn {
  margin-top: 15px;
  font-size: 17px;
  padding: 10px;
}

.catalog-btn-rent{
	background-color: #f3c331;
}

.catalog-btn-rent:hover{
  background-color: #ffd966;
}

.catalog-btn-rent:active{
  background-color: #ffc600;
}

.catalog-btn-more{
	background-color: #354b60;
}

.catalog-btn-more:hover{
  background-color: #46617a;
}

.catalog-btn-more:active{
  background-color: #567999;
}


.catalog-pagination{
	text-align: center;
}

.catalog-pagination a {
  text-decoration: none;
  color: #353535;
  border: 2px solid transparent;
  padding: 5px 8px;
}

.catalog-pagination a:hover {
  border: 2px solid rgba(52, 75,96, 0.5);
  padding: 5px 8px;
  border-radius: 3px;
}

.catalog-pagination a:active {
  border: 2px solid #354b60;
  padding: 5px 8px;
  border-radius: 3px;
}

.catalog-pagination li {
	display: inline-block;
  padding: 5px;


}

.active-pages-nav {
	background-color: #354b60;
  padding: 5px 8px;
  border-radius: 3px;
  color: #ffffff;

}



.catalog-content-sale {
  background-image: url(../img/732_best.jpg);
  background-position: 50% 50%;
  background-size: 100% auto;
}

.sale-title {
  color: #ffffff;
}

.catalog-item-sale {
	overflow: hidden;
  width: 33%;
  position: relative;

}

.sale-mark {
  position: absolute;
  transform: rotate(45deg);
  right: -30px;
  top: 5px;
  display: block;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  background-color: #d12222;
  color: #fff;
  width: 100px;
  padding: 5px;
}

.catalog-item-sale:first-child {
  float: left;
  margin-left: 0;
}

.catalog-item-sale:last-child {
  float: right;
  margin-right: 0;
}

/* portfolio */
.main-header {
  background-image: url(../img/portfolio-header.jpg);
  background-size: 100% auto;
  background-position: 50% 50%;

}
.consult-title {
  float: left;
  width: 30%;
}
.portfolio-nav {
  float: right;
  width: 70%;
  text-align: right;
}

.portfolio-nav li {
  display: inline-block;
}

.portfolio-nav a {

  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  padding: 20px;
}

.portfolio {
  background-color: #000000;
  position: relative;
}
.progect {
   margin-top: 10px;
   height: 500px;
   vertical-align: middle;
   background-position: 50% 50%;
   background-size: 100% auto;


}

.project1 {
  background-image: url(../img/work1.jpg);

}

.project2 {
  background-image: url(../img/work2.jpg);

}

.project3 {
  background-image: url(../img/work3.jpg);

}

.text-project {
  background-color: #ffffff;
  padding: 30px;
  width: 320px;
  margin-top: 150px;

}

.text-project p {
  line-height: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.read-more-btn {
  background-color: #ffcd34;
  text-decoration: none;
  padding: 10px;
  color: #1d333f;
  font-weight: 700;
  background-image: url(../img/arrow-right-black.png);
  background-position: 90% 50% ;
  background-repeat: no-repeat;
  text-align: left;
  padding-left: 15px;
  padding-right: 35px;
}

.read-more-btn:hover {
  background-color: #ffd966;
}

.read-more-btn:active {
  background-color: #f6bf16;
}

/* contacts */
.map-feedback {
    background-color: #f3f3f3;
    padding-top: 40px;
  }

.map-contacts {
   width: 620px;
   float: left;
   border: 1px solid #d5d5d5;

}
.feedback-contacts {
  width: 300px;
  float: right;
  display: inline-block;


}

.contacts-link {

  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  color: #000000;
  padding-left: 40px;

}

.contacts-phone {
  background-image: url(../img/tel.png);
  background-repeat: no-repeat;
}

.contacts-mail {
  background-image: url(../img/mail.png);
  background-repeat: no-repeat;
}

.feedback form {
  display: inline;
  margin: 5px auto;
}
.feedback-text {
  font-size: 16px;
}

.feedback input {
  background-color: #ffffff;
  border: 1px solid #d5d5d5;
  width: 300px;
  height: 45px;
  color: #ffffff;
  padding-left: 15px;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
  box-sizing: border-box;


}

.feedback-btn {
  background-color: #354b60;
  margin-top: 15px;
  font-size: 17px;
  padding: 10px;
  color: #ffffff;

}

.feedback-btn a {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
}

.feedback-btn:hover {
  background-color: #46617a;
}

.feedback-btn:active {
  background-color: #567999;
}


.reviews {

}
.contacts-reviews {
    display: inline-block;
    width: 24.5%;

  }

.contacts-reviews img {
   margin-left: 60px;
}

.contacts-reviews blockquote {
  font-size: 14px;
  color: #000000;
  margin-left: 0;
  text-align: center;
  width: 220px;
  margin: 10px;

}

.contacts-reviews cite {
 width: 700px;
 font-size: 14px;
 color: #000000;
}



/* page-footer */
.page-footer{
	background-color: #202e3b;
  padding: 15px 0;
  overflow: hidden;
}

footer .logo-brand {
  font-weight: 400;
  font-size: 24px;
  color: #ffffff

}

.logo{
	float: left;
  width: 30%;
}

.footer-nav{
	float: right;
    width: 70%;
    text-align: right;
}

.footer-nav li{
	display: inline-block;
}

.footer-nav a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  padding: 20px;
  border: 2px solid transparent;

}

.footer-nav a:hover {
  border: 2px solid rgba(255, 255, 255, 0.3);

}

.footer-nav a:active{
  border: 2px solid rgba(255, 255, 255, 0.6);
}

.btn-order-footer:hover {
  color: #ffcd34;
}

.btn-order-footer:active {
  color: #ffcd34;
}

